.piecontainer{
    position: relative;
    width: Hug (1,540px)px;
    height: Hug (951.49px)px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    opacity: 0px;
}
.pieanalysis{
    width: Fixed (1,540px)px;
    height: 481.49px;
    padding: 24px 0px 0px 0px;
    display: flex;
    gap: 24px;
    border-radius: 24px ;
    opacity: 0px;
    background: rgba(255, 255, 255, 1);
    box-shadow: 0px 4px 8px 0px rgba(16, 16, 16, 0.1);
}
.piettl{
    position: absolute;
    margin: 0;
    top: 24px;
    left: 24px;
    font-family: Poppins;
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
    letter-spacing: 0.03em;
    text-align: left;
    color: rgba(53, 53, 53, 1);
}
.pienavbar{
    position: absolute;
    top: 22px;
    left: 629px;
    display: flex;
    gap: 40px;
}
.pienav1{
    width: Hug (59px)px;
    height: Hug (24px)px;
    display: flex;
    gap: 8px;
    opacity: 0px;
}
.pienav1txt{
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}
.pieshiptxt{
    color: rgba(235, 93, 80, 1);
}

.chartanalysis{
    position: absolute;
    top: 78px;
    left: 24px;
    width: Fill (1,492px)px;
    height: Hug (379.49px)px;
    gap: 135.5px;
    display: flex;
    justify-content: space-between;
    opacity: 0px;
    /* border: 2px solid blue; */
}
.framechart{
    width: Hug (190px)px;
    height: Hug (379.49px)px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    opacity: 0px;
}
.framechartimg{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: Hug (186.49px)px;
    height: Hug (215.49px)px;
    gap: 8px;
    opacity: 0px;

}
.eltitle{
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
    letter-spacing: 0.03em;
    text-align: center;
}
.charlocdata{
    width: Hug (143px)px;
    height: Hug (18px)px;
    display: flex;
    align-items: center;
    gap: 6px;
    opacity: 0px;
}
.point1{
    width: 12px;
    height: 12px;
    border-radius: 6px;
    background: rgba(107, 18, 10, 1);
}
.loc{
    font-family: Poppins;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0.03em;
    text-align: center;
    color: rgba(53, 53, 53, 1);
}
.point2{
    background: rgba(235, 93, 80, 1);
}
.point3{
    background: rgba(247, 166, 104, 1);
}
.point4{
    background: rgba(123, 184, 150, 1);

}
.point5{
    background: rgba(16, 115, 230, 1);
}
.point6{
    background: rgba(133, 101, 98, 1);

}
.chartdocs{
    width: Hug (1,540px)px;
    height: 446px;
    display: flex;
    gap: 24px;
    opacity: 0px;   
}
.leftchartdocs
{
    position: relative;
    width: 758px;
    height: 380px;
    padding: 22px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    border-radius: 24px;
    opacity: 0px;
    background: rgba(255, 255, 255, 1);
    box-shadow: 0px 4px 8px 0px rgba(16, 16, 16, 0.1);

}
.leftttl{
    font-family: Poppins;
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
    letter-spacing: 0.03em;
    text-align: left;
    color: rgba(53, 53, 53, 1);
}
.listdocs{
    width: 701px;
    height: Hug (68px)px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 12px;
    opacity: 0px;

}
.frame784{
    width: Fill (701px)px;
    height: Hug (52px)px;
    gap: 0px;
    display: flex;
    justify-content: space-between;
    opacity: 0px;
}
.linedocs{
    width: 701px;
    height: 0px;
    rotate: -0 deg;
    border: 1px solid rgba(217, 217, 217, 1)
}
.frame785{
    width: Hug (275px)px;
    height: Hug (49px)px;
    display: flex;
    gap: 24px;
    opacity: 0px;

}
.frame782{
    width: Hug(219px)px;
    height: Hug (49px)px;
    display: flex;
    flex-direction: column;
    gap: 4px;
    opacity: 0px;

}
.fr782ttl{
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.03em;
    text-align: left;

}
.fr782desc{
    font-family: Poppins;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0.03em;
    text-align: left;

}
.frame783{
    width: 104px;
    height: Hug (52px)px;
    display: flex;
    flex-direction: column;
    gap: 4px;
    opacity: 0px;

}
.fontdate{
    font-family: Poppins;
font-size: 16px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0.03em;
text-align: right;
color: rgba(53, 53, 53, 1);
}
.fr785Img{
    width: 32px;
    height: 32px;
}

.rightchartdocs
{
    position: relative;
    width: 758px;
    height: 375px;
    padding: 24px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    border-radius: 24px;
    opacity: 0px;
    background: rgba(255, 255, 255, 1);
    box-shadow: 0px 4px 8px 0px rgba(16, 16, 16, 0.1);

}
.rightdesc{
    margin: 0;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.03em;
    text-align: left;
    color: rgba(53, 53, 53, 1);
}
.notimg{
    position: absolute;
    top: 178px;
    left: 301px;
    width: 156px;
    height: 180px;
    padding: 0px 0px 23.75px 0px;
    rotate: -180 deg;

}
.leftsidelinebar{
    position: absolute;
    width: 7px;
    height: 83px;
    top: 78px;
    right: 8px;
    border-radius: 10px;
    background: rgba(133, 101, 98, 1);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.rightsidelinebar{
    height: 270px;
}